@model recetas.Models.Medicamentos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Atc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Generico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Generico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Presentacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Presentacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pvp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pvp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acargoos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acargoos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acargoafil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acargoafil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grupoter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grupoter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Obser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Obser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_medicamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
